/* -----------------------------------------------------------------------------

  Artigos

----------------------------------------------------------------------------- */

.artigo-img {
    float: left;
    margin-bottom: 0;
    margin-right: 25px;
    @include media-breakpoint-down(md) {
        float: none;
        display: table;
        margin: 0 auto;
    }
}

.media {
    &.artigo {
        img {
            margin: 0 0 12px 0;
            max-height: calc( 327px/ 3);
        }
        h6 {
            margin: 0;
        }
        .media-body {
            padding: 12px;
        }
    }
}
