/* -----------------------------------------------------------------------------

Imports

----------------------------------------------------------------------------- */

@import "node_modules/bootstrap/scss/bootstrap.scss";

/* -----------------------------------------------------------------------------

 Navbar

----------------------------------------------------------------------------- */

.navbar-nav {
    width: 100%;
    .nav-item {
        border-left: 1.5px solid darken($color-paf-primary, 5%);
        border-right: 1.5px solid darken($color-paf-primary, 5%);
        .nav-link {
            font-weight: lighter;
            text-transform: uppercase;
            color: $nav-link-color;
            @include hover-focus {
                color: $nav-link-color-active;
            }
            &link:active {
                color: $nav-link-color-active;
            }
            @include media-breakpoint-down(sm) {
                padding-left: 15px;
            }
        }

        @include media-breakpoint-down(sm) {
                border: none;
            }
    }
}

.navbar-fixed-top {
    top: 65px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 40px;
    position: fixed;
    box-shadow: 0 1px 1px $color-shadow;
    @include media-breakpoint-down(sm) {
        top: 0;
        height: auto;
    }
}

.nav-fill-md-up {
    .nav-item {
        @include media-breakpoint-up(md) {
            flex: 1 1 auto;
            text-align: center;
        }
    }
}


/* -----------------------------------------------------------------------------

 Breadcrumb

----------------------------------------------------------------------------- */

.breadcrumb {
    margin: 0;
    padding: 0;
    font-size: 10px;
    text-transform: uppercase;
}


/* -----------------------------------------------------------------------------

 Form

----------------------------------------------------------------------------- */

.form-check-label {
    font-size: 14px;
    color: $gray-light;
}


/* -----------------------------------------------------------------------------

 Pagination

----------------------------------------------------------------------------- */

.page-link {
    margin: 1px;
    width: 35px;
    padding: 5px 0;
    border-radius: 15px;
}


/* -----------------------------------------------------------------------------

 Dropdown

----------------------------------------------------------------------------- */

.dropdown-item {
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
}

.open .dropdown-toggle {
    color: $nav-link-color-active !important;
}


/* -----------------------------------------------------------------------------

 Position sticky

----------------------------------------------------------------------------- */

.sticky-top {
    top: 118px;
    position: -webkit-sticky;
}

.rounded-bottom {
    border-radius: 0 0 15px 15px !important;
}


/* -----------------------------------------------------------------------------

Cards

----------------------------------------------------------------------------- */

.card {
    border: none;
    border-radius: 0;
    .card-header {
        padding: 5px;
        border-radius: 0;
    }
    .card-text {
        margin-bottom: 5px;
    }
    .card-text:last-child {
        margin-bottom: 10px;
    }
}


/* -----------------------------------------------------------------------------

Table

----------------------------------------------------------------------------- */
.table{
    width: 99%;
}
  .table th,
  .table td {
    padding: 0.15rem;
}


.m-2 {
    width: 34px;
    position: absolute;
}
