/* -----------------------------------------------------------------------------

  Botões

----------------------------------------------------------------------------- */

.btn {
    &.btn-mural {
        color: white;
        background-color: $color-paf-primary;
        margin-top: 10px;
        padding: .3rem .5rem;
        }
    &.btn-fa {
        outline: none;
        background-color: transparent;
        &:focus,
        &:active {
            outline: none !important;
        }
    }
    &.btn-admin {
        color: $color-paf-primary !important;
        border: 1px solid darken(#FFFFFF, 10%);
        @include button(#FFFFFF);
    }
    &.btn-true {
        @include button($brand-success);
    }
    &.btn-false {
        @include button($brand-danger);
    }
    &.btn-filter {
        z-index: 4;
        left: 50%;
        bottom: 25px;
        width: 130px;
        position: fixed;
        font-size: 16px;
        margin-left: -65px;
        border-radius: 15px;
        background-color: #f4b01b;
        text-transform: uppercase;
        box-shadow: 0px 0px 1px 1px $color-shadow-blue;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider-BE {
    background-color: $color-paf-empregos;
}

input:checked + .slider-artigo {
    background-color: $color-artigos;
}

input:checked + .slider-CB {
    background-color: $color-paf-descontos;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}
