/* -----------------------------------------------------------------------------

  Card

----------------------------------------------------------------------------- */

.card {
    &.mural {
        height: 440px;
        border-bottom: 12px solid $color-paf-primary;
        @include media-breakpoint-down(sm) {
            height: auto;
        }
    }
}

&.destaques {
    height: 420px;
    background-color: $color-paf-primary;
    a {
        color: white;
    }
    h5 {
        color: white;
        margin-bottom: 5px;
    }
    @include media-breakpoint-only(lg) {
        height: 351.52px;
    }
    @include media-breakpoint-down(md) {
        height: auto;
    }
}
