/* -----------------------------------------------------------------------------

  Cores dos Temas

----------------------------------------------------------------------------- */

.color-paf-primary {
    color: $color-paf-primary;
}

.color-paf-secondary {
    color: $color-paf-secondary;
}

.color-white {
    color: white;
}

.color-link {
    color: $gray;
}

.color-artigos {
    color: $color-artigos;
}

.color-paf-empregos {
    color: $color-paf-empregos;
}

.color-paf-empresas {
    color: $color-paf-empresas;
}

.color-paf-descontos {
    color: $color-paf-descontos;
}

.color-paf-regional {
    color: $color-paf-regional;
}

.color-paf-dicas {
    color: $color-paf-dicas;
}

.bg-paf-primary {
    background-color: $color-paf-primary;
}

.bg-paf-empregos {
    background-color: $color-paf-empregos;
}

.bg-white {
    background-color: rgb(255, 255, 255);
}
