/* -----------------------------------------------------------------------------

  Cores dos Temas

----------------------------------------------------------------------------- */

$color-paf-primary: #003246;
$color-paf-secondary: #F4B01B;
$color-true: #228B22;
$color-false: #8A4A34;
$color-shadow: #D3D3D3;
$color-shadow-blue: #003246;
$color-artigos: #CD5C5C;
$color-paf-empresas: #6EBCAD;
$color-paf-empregos: #9EAE3F;
$color-paf-descontos: #ECA864;
$color-paf-regional: #003246;
$color-paf-dicas: #00cc00;

/* -----------------------------------------------------------------------------

  Grid

----------------------------------------------------------------------------- */

$grid-gutter-width-base: 24px;

/* -----------------------------------------------------------------------------

  Background Color

----------------------------------------------------------------------------- */

$body-bg: #ECECEC;

/* -----------------------------------------------------------------------------

  Sticky

----------------------------------------------------------------------------- */

$zindex-sticky: 1;

/* -----------------------------------------------------------------------------

  Links do Menu

----------------------------------------------------------------------------- */

//Cor dos Links
$link-color: #464a4c;
// Cores do Link do Menu
$nav-link-color: #FFFFFF;
$nav-link-color-active: $color-paf-secondary;

/* -----------------------------------------------------------------------------

  Form

----------------------------------------------------------------------------- */

// Form
$input-bg: transparent;
$input-padding-y-lg: 1rem;
$input-border-focus: $color-paf-primary;
$input-box-shadow-focus: $color-paf-primary;

/* -----------------------------------------------------------------------------

Navbar

----------------------------------------------------------------------------- */

// Navbar
$link-hover-decoration: none;

/* -----------------------------------------------------------------------------

 Breadcrumb

----------------------------------------------------------------------------- */

// Breadcrumb
$breadcrumb-divider: ">";
$breadcrumb-padding-y: 5px;
$breadcrumb-padding-x: 5px;
$breadcrumb-bg: transparent;
$breadcrumb-item-padding: 2px;

/* -----------------------------------------------------------------------------

 Check Box

----------------------------------------------------------------------------- */

// Checkbox
$custom-control-active-indicator-bg: $color-paf-primary;
$custom-control-checked-indicator-bg: $color-paf-primary;
$custom-control-focus-indicator-box-shadow: 0 0 0 .075rem #fff,
0 0 0 .2rem $color-paf-primary;

/* -----------------------------------------------------------------------------

 Pagination

----------------------------------------------------------------------------- */

// Pagination
$pagination-color: $color-paf-primary;
$pagination-active-bg: $color-paf-primary;
$pagination-hover-color: $color-paf-primary;
$pagination-active-border: $color-paf-primary;

/* -----------------------------------------------------------------------------

 Dropdown

----------------------------------------------------------------------------- */

// Dropdown
$dropdown-bg: lighten($color-paf-primary, 5%);
$dropdown-link-color: white;
$dropdown-link-hover-bg: transparent;
$dropdown-link-hover-color: $nav-link-color-active;
$dropdown-border-color: lighten($color-paf-primary, 5%);
$dropdown-padding-y: 0;
$dropdown-link-active-color: $nav-link-color-active;

/* -----------------------------------------------------------------------------

 Cards

----------------------------------------------------------------------------- */

$card-spacer-x: 0.75rem;
