    /* -----------------------------------------------------------------------------

  Descontos

----------------------------------------------------------------------------- */

    .card {
        &.desconto {
            height: 500px;
            border-radius: 15px;
            box-shadow: 1px 1px 10px $color-shadow;
            @include media-breakpoint-only(xs) {
                height: auto;
            }
        }
    }

    .desconto-img {
        float: left;
        margin-bottom: 0;
        margin-right: 25px;
        @include media-breakpoint-down(sm) {
            float: none;
            display: table;
            margin: 0 auto;
        }
    }

    .desconto-resumo {
        height: auto !important;
    }
