/* -----------------------------------------------------------------------------

  Erro 404

----------------------------------------------------------------------------- */

.error-404 {
    width: auto;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 15px;
    border-top: 15px solid $color-paf-primary;
    & .card-block {
        margin: 0;
    }
}
