/* -----------------------------------------------------------------------------

  Select

----------------------------------------------------------------------------- */

select {
    &.select-naked {
        border: none;
        font-size: 20px;
        height: 40px !important;
    }
}
