/* -----------------------------------------------------------------------------

  HAMBURGER ICONS COMPONENT

----------------------------------------------------------------------------- */

// vars
$button-width: 40px; // The width of the button area
$button-height: 45px; // The height of the button area
$bar-thickness: 4px; // The thickness of the button bars
$button-pad: 5px; // The left/right padding between button area and bars.
$button-bar-space: 6px; // The spacing between button bars
$button-transistion-duration: 0.4s; // The transition duration

/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */

.hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: $button-width;
    height: $button-height;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background $button-transistion-duration;
}

.hamburger:focus {
    outline: none;
}

.hamburger span {
    display: block;
    position: absolute;
    top: ($button-height / 2) - ($bar-thickness / 2);
    left: $button-pad;
    right: $button-pad;
    height: $bar-thickness;
    background: rgb(255, 255, 255);
    @include media-breakpoint-up(md) {
        background-color: $color-paf-primary;
    }
}

.hamburger span::before,
.hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: $bar-thickness;
    background-color: #fff;
    content: "";
    @include media-breakpoint-up(md) {
        background-color: $color-paf-primary;
    }
}

.hamburger span::before {
    top: -$bar-thickness - $button-bar-space;
}

.hamburger span::after {
    bottom: -$bar-thickness - $button-bar-space;
}


/**
 * Style X
 *
 * Hamburger to "x". Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */

.hamburger-x span {
    transition: background 0s $button-transistion-duration;
}

.hamburger-x span::before,
.hamburger-x span::after {
    transition-duration: $button-transistion-duration, $button-transistion-duration;
    transition-delay: $button-transistion-duration, 0s;
}

.hamburger-x span::before {
    transition-property: top, transform;
}

.hamburger-x span::after {
    transition-property: bottom, transform;
}


/* active state, i.e. menu open */

.hamburger-x.menu-open span {
    background: none;
}

.hamburger-x.menu-open span::before {
    top: 0;
    transform: rotate(45deg);
}

.hamburger-x.menu-open span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.hamburger-x.menu-open span::before,
.hamburger-x.menu-open span::after {
    transition-delay: 0s, $button-transistion-duration;
}


/**
 * Style 3
 *
 * Hamburger to left-arrow (htla). Hamburger menu transforms to a left-pointing
 * arrow. Usually indicates an off canvas menu sliding in from left that
 * will be close on re-click of the icon.
 */

.hamburger-l-arrow span {
    transition: transform $button-transistion-duration;
}

.hamburger-l-arrow span::before,
.hamburger-l-arrow span::after {}

.hamburger-l-arrow span::before {
    transform-origin: top right;
    transition: transform $button-transistion-duration, width $button-transistion-duration, top $button-transistion-duration;
}

.hamburger-l-arrow span::after {
    transform-origin: bottom right;
    transition: transform $button-transistion-duration, width $button-transistion-duration, bottom $button-transistion-duration;
}


/* active state, i.e. menu open */

.hamburger-l-arrow.menu-open span {
    transform: rotate(180deg);
}

.hamburger-l-arrow.menu-open span::before,
.hamburger-l-arrow.menu-open span::after {
    width: 50%;
}

.hamburger-l-arrow.menu-open span::before {
    top: 0;
    transform: translateX($button-width/2 - $button-pad + $bar-thickness) translateY($bar-thickness/2) rotate(45deg);
}

.hamburger-l-arrow.menu-open span::after {
    bottom: 0;
    transform: translateX($button-width/2 - $button-pad + $bar-thickness) translateY(-$bar-thickness/2) rotate(-45deg);
}
