/* -----------------------------------------------------------------------------

  Header

----------------------------------------------------------------------------- */

.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    position: fixed;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-logo {
    top: 0;
    width: 450px;
    max-height: 60px;
}

a.submenu{
    padding: 0 !important;
}

ul.submenu {
    list-style: none;
    padding-bottom: 10px;
}
li.submenu:before {
    content: "";
    border-color: transparent #fff;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
}




/* -----------------------------------------------------------------------------

  Menu-Toggler

----------------------------------------------------------------------------- */

.navbar-logo {
    width: 250px;
    max-height: 40px;
}


@include media-breakpoint-down(sm) {
    .menu {
        top: 62px;
        left: 0;
        width: 80%;
        height: 100vh;
        position: absolute;
        transform: translateX(-250%);
        @include transition-duration(0.2s);
    }
    .menu-open {
        .main {
            z-index: 1;
            position: relative;
        }
        .menu {
            position: fixed;
            transform: translateX(0);
            @include transition-duration(0.5s);
            background-color: lighten($color-paf-primary, 5%);
        }
        .blur {
            @include blur;
        }
    }
}


/* -----------------------------------------------------------------------------

  Search-Toggler

----------------------------------------------------------------------------- */

@include media-breakpoint-down(sm) {
    .search-form {
        top: 3px;
    }
    .search-input {
        height: 42px;
        border: none;
        &::placeholder {
            color: $color-paf-primary;
            opacity: 1;
        }
    }
    .search {
        left: 0;
        top: 67px;
        z-index: 2;
        width: 100%;
        height: 42px;
        position: absolute;
        padding-bottom: 3px;
        @include transition-duration(0.2s);
        transform: translateY(-200%);
    }
    .search-open {
        .main {
            z-index: 1;
            position: relative;
        }
        .search {
            transform: translateX(0);
            @include transition-duration(0.5s);
            background-color: lighten($color-paf-primary, 75%);
        }
        .blur {
            @include blur;
        }
    }
}
