/* -----------------------------------------------------------------------------

  Login

----------------------------------------------------------------------------- */

.card {
    &.login {
        top: 50px;
        width: 100%;
        max-width: 400px;
        border-radius: 15px;
        box-shadow: 1px 1px 10px $color-shadow;
        .card-header {
            color: white;
            border-radius: 15px 15px 0 0;
        }
    }
}
