/* -----------------------------------------------------------------------------

  Mixins

----------------------------------------------------------------------------- */

// Blur
@mixin blur {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    position: fixed;
    transition-duration: 0.6s;
    background-color: rgba(0, 0, 0, 0.8);
}

// Formato do botão padrão
@mixin button($color) {
    color: white;
    font-size: 13px;
    background-color: $color;
    text-transform: uppercase;
    box-shadow: 0 3px 0 darken($color, 10%);
    &:active {
        top: 3px;
        box-shadow: none;
        position: relative;
    }
}

// Transitions
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property: $property;
    -o-transition-property: $property;
    -webkit-transition-property: $property;
    transition-property: $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-duration: $duration;
    -o-transition-duration: $duration;
    -webkit-transition-duration: $duration;
    transition-duration: $duration;
}

@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}
