/* -----------------------------------------------------------------------------

  Tables

----------------------------------------------------------------------------- */

.table {
    &.destaques {
        td {
            border: none;
            height: calc(420px/3);
            &.empregos {
                background-repeat: repeat;
                background-image: url('/img/logos/bg-empregos.png');
            }
            &.descontos {
                background-image: url('/img/logos/bg-descontos.png');
            }
            &.concursos {
                background-image: url('/img/logos/bg-concursos.png');
            }
        }
        @include media-breakpoint-only(lg) {
            td {
                height: calc(351.52px/3);
            }
        }
        @include media-breakpoint-down(md) {
            td {
                height: calc(436px/3);
            }
        }
    }
}
