/* -----------------------------------------------------------------------------

  BackGround - Colors

----------------------------------------------------------------------------- */

.bg-facebook {
    background-color: #3b5998;
}

.bg-linkedin {
    background-color: #0077B5;
}

.bg-twitter {
    background-color: #10dffd;
}

/* -----------------------------------------------------------------------------

  Heights

----------------------------------------------------------------------------- */
.h-auto {
    height: auto !important;
    min-height: 100%;
}

/* -----------------------------------------------------------------------------

  Margins

----------------------------------------------------------------------------- */

.my-std {
    margin: 12px 0 !important;
}

.mb-owl {
    margin-bottom: 6px !important;
}

/* -----------------------------------------------------------------------------

  Scroll

----------------------------------------------------------------------------- */

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}


/* -----------------------------------------------------------------------------

  Setas

----------------------------------------------------------------------------- */

.slides {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 99999999999 !important;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.nav label:hover {
    opacity: 1;
}

.nav .next {
    right: 0;
}

.nav label {
    display: block;
}
