/* -----------------------------------------------------------------------------

  Vagas

----------------------------------------------------------------------------- */

.card {
    &.vaga {
        border-radius: 15px;
        box-shadow: 1px 1px 10px $color-shadow;
        border-left: 4px solid $color-paf-empregos;
        border-right: 4px solid $color-paf-empregos;
    }
}

.media {
    &.vaga {
        border-left: 4px solid $color-paf-empregos;
    }
}

.card {
    &.vaga-mural {
        height: 185px;
        .card-text {
            margin-bottom: 3px;
        }
        @include media-breakpoint-down(sm) {
            height: auto;
        }
    }
}
