/* -----------------------------------------------------------------------------

Imports

----------------------------------------------------------------------------- */

@import "config";
@import "mixins";
@import "bootstrap-custom";
@import "buttons";
@import "colors";
@import "artigos";
@import "hamburger";
@import "utilities";
@import "node_modules/font-awesome/scss/font-awesome.scss";

/* -----------------------------------------------------------------------------

Imports

----------------------------------------------------------------------------- */

.card {
    &.desconto {
        height: auto;
        @include media-breakpoint-down(md) {
            height: 100%;
        }
        img {
            &.desconto {
                max-height: 150px;
            }
        }
    }
}

.vaga {
    height: 220px;
    @include media-breakpoint-down(md) {
        height: 100%;
    }
}

.desconto-img {
    float: left;
    margin-bottom: 0;
    margin-right: 25px;
    @include media-breakpoint-down(sm) {
        float: none;
        display: table;
        margin: 0 auto;
    }
}

.img-hrz-center {
    display: table;
    margin: 0 auto;
}

.header-logo {
    padding: 10px 0 5px 5px;
    width: 100%;
    max-height: 40px;
}

.left_col {
    background: $color-paf-primary;
}

.nav-sm .container.body .side.left_col {
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 9999;
    position: absolute;
}

.nav-sm .container.body .side.left_col.menu_fixed {
    position: fixed;
    height: 100%;
}

.nav-sm .container.body .side.left_col .mCSB_container,
.nav-sm .container.body .side.left_col .mCustomScrollBox {
    overflow: visible;
}

.nav-sm .hidden-small {
    visibility: hidden;
}

.nav-sm .container.body .right_col {
    padding: 10px 20px;
    margin-left: 70px;
    z-index: 2;
}

.nav-sm .navbar.nav_title {
    width: 70px;
}

.nav-sm .navbar.nav_title a span {
    display: none;
}

.nav-md .navbar.nav_title a i {
    display: none;
}

.nav-sm .navbar.nav_title a i {
    left: -5px;
    color: #EAEAEA;
    font-size: 45px;
    position: relative;
}

.site_title i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%;
}

.nav-sm .main_container .top_nav {
    display: block;
    margin-left: 70px;
    z-index: 2;
}

.nav-sm .nav.side-menu li a {
    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px;
}

.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid $nav-link-color-active;
}

ul.nav {
    padding: 0;
}

.nav-sm ul.nav.child_menu ul,
.nav-sm .nav.side-menu li.active-sm ul ul {
    position: static;
    width: 200px;
    background: none;
}

.nav-sm .nav.side-menu li a i.toggle-up {
    display: none !important;
}

.nav-sm .nav.side-menu li a i {
    font-size: 25px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px;
}

.nav-sm ul.nav.child_menu {
    left: 110%;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: #3E5367;
    display: none;
}

.nav-sm ul.nav.child_menu li {
    padding: 0 10px;
}

.nav-sm ul.nav.child_menu li a {
    text-align: left !important;
}

.nav-sm .profile {
    display: none;
}

.menu_section {
    margin-bottom: 35px;
}

.menu_section h3 {
    padding-left: 23px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000;
}

.menu_section >ul {
    margin-top: 10px;
}

.profile_pic {
    width: 35%;
    float: left;
}

.img-circle.profile_img {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
}

.profile_info {
    padding: 25px 10px 10px;
    width: 65%;
    float: left;
}

.profile_info span {
    font-size: 13px;
    line-height: 30px;
    color: #BAB8B8;
}

.profile_info h2 {
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
    font-weight: 300;
}

.profile.img_2 {
    text-align: center;
}

.profile.img_2 .profile_pic {
    width: 100%;
}

.profile.img_2 .profile_pic .img-circle.profile_img {
    width: 50%;
    margin: 10px 0 0;
}

.profile.img_2 .profile_info {
    padding: 15px 10px 0;
    width: 100%;
    margin-bottom: 10px;
    float: left;
}

.main_menu span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA;
}

.active a span.fa {
    text-align: right !important;
    margin-right: 4px;
}

.nav-sm .menu_section {
    margin: 0;
}

.nav-sm span.fa,
.nav-sm .menu_section h3 {
    display: none;
}

.nav-sm li li span.fa {
    display: inline-block;
}

.nav_menu {
    float: left;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}

@media (min-width: 480px) {
    .nav_menu {
        position: static;
    }
}

.nav-md .container.body .side.left_col {
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: absolute;
    display: flex;
    z-index: 1;
}

.nav-md .container.body .side.left_col.menu_fixed {
    height: 100%;
    position: fixed;
}

body .container.body .right_col {
    background: #F7F7F7;
}

.nav-md .container.body .right_col {
    padding: 10px 20px 0;
    margin-left: 230px;
}

.nav_title {
    width: 230px;
    float: left;
    background: darken($color-paf-primary, 10%);
    border-radius: 0;
    height: 57px;
}

@include media-breakpoint-down(sm) {
    .nav-md .container.body .right_col,
    .nav-md .container.body .top_nav {
        width: 100%;
        margin: 0;
    }
    .nav-md .container.body .side.left_col {
        display: none;
    }
    .nav-md .container.body .right_col {
        width: 100%;
        padding-right: 0
    }
    .right_col {
        padding: 10px !important;
    }
}

@media (max-width: 1200px) {
    .x_title h2 {
        width: 62%;
        font-size: 17px;
    }
    .tile,
    .graph {
        zoom: 85%;
        height: inherit;
    }
}

@media (max-width: 1270px) and (min-width: 192px) {
    .x_title h2 small {
        display: none
    }
}

.left_col .mCSB_scrollTools {
    width: 6px;
}

.left_col .mCSB_dragger {
    max-height: 400px !important;
}

.container {
    width: 100%;
    padding: 0
}

.navbar-nav>li>a,
.navbar-brand,
.navbar-nav>li>a {
    color: #fff !important;
}

.top_nav .nav>li>a:focus,
.top_nav .nav>li>a:hover,
.top_nav .nav .open>a,
.top_nav .nav .open>a:focus,
.top_nav .nav .open>a:hover {
    background: #D9DEE4;
}

body {
    color: #73879C;
    background: $color-paf-primary;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

.main_container .top_nav {
    display: block;
    margin-left: 230px;
}

.main_container {}

.no-padding {
    padding: 0 !important;
}

.page-title {
    width: 100%;
    height: 65px;
    padding: 10px 0;
}

.page-title .title_left {
    width: 45%;
    float: left;
    display: block;
}

.page-title .title_left h3 {
    margin: 9px 0;
}

.page-title .title_right {
    width: 55%;
    float: left;
    display: block;
}

.page-title .title_right .pull-right {
    margin: 10px 0;
}

.fixed_height_320 {
    height: 320px;
}

.fixed_height_390 {
    height: 390px;
}

.fixed_height_200 {
    height: 200px;
}

.overflow_hidden {
    overflow: hidden
}

.progress-bar-dark {
    background-color: #34495E !important;
}

.progress-bar-gray {
    background-color: #BDC3C7 !important;
}

table.no-margin .progress {
    margin-bottom: 0;
}

.main_content {
    padding: 10px 20px;
}

@media (min-width: 192px) and (max-width: 1270px) {
    table.tile_info span.right {
        margin-right: 7px;
        float: left;
    }
}

.center-margin {
    margin: 0 auto;
    float: none!important;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.grid_slider .col-md-6 {
    padding: 0 40px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #5A738E;
    text-decoration: none;
}

a,
a:visited,
a:focus,
a:active,
:visited,
:focus,
:active,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0;
}

a:hover,
a:focus {
    text-decoration: none
}

.navbar {
    margin-bottom: 0
}

.navbar-header {
    background: #34495E;
}

.navbar-right {
    margin-right: 0;
}

.top_nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right;
}

.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
}

@media (min-width: 480px) {
    .top_nav .navbar-right li {
        position: relative;
    }
}

.top_nav .dropdown-menu li {
    width: 100%;
}

.top_nav .dropdown-menu li a {
    width: 100%;
    padding: 12px 20px;
}

.top_nav li a i {
    font-size: 15px
}

.navbar-static-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.sidebar-header {
    border-bottom: 0;
    margin-top: 46px;
}

.sidebar-header:first-of-type {
    margin-top: 0
}

.nav.side-menu> li {
    position: relative;
    display: block;
    cursor: pointer;
}

.nav.side-menu> li > a {
    margin-bottom: 6px;
}

.nav.side-menu> li > a:hover {
    color: #F2F5F7 !important;
}

.nav.side-menu>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background: transparent;
}

.nav.child_menu {
    display: none;
}

.nav.child_menu li:hover,
.nav.child_menu li.active {
    background-color: rgba(255, 255, 255, 0.06);
}

.nav.child_menu li {
    padding-left: 36px;
}

.nav-md ul.nav.child_menu a:before {
    background: white;
    bottom: auto;
    content: "";
    height: 8px;
    left: -10px;
    margin-top: 4px;
    position: absolute;
    right: auto;
    width: 9px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.nav-md ul.nav.child_menu a:after {
    border-left: 1px solid white;
    bottom: 0;
    content: "";
    left: -6px;
    position: absolute;
    top: 0;
}

.nav.side-menu>li>a,
.nav.child_menu>li>a {
    color: #E7E7E7;
    font-weight: 500;
}

.nav.child_menu li li:hover,
.nav.child_menu li li.active {
    background: none;
}

.nav.child_menu li li a:hover,
.nav.child_menu li li a.active {
    color: #fff;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 13px 15px 12px;
}

.nav.side-menu> li.current-page,
.nav.side-menu> li.active {
    border-right: 5px solid $nav-link-color-active;
}

.nav li.current-page {
    background: rgba(255, 255, 255, 0.05);
}

.nav li li li.current-page {
    background: none;
}

.nav li li.current-page a {
    color: #fff;
}

.nav.side-menu> li.active > a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b6479), color-stop(100%, #4c5566)), #686e78;
    background: -webkit-linear-gradient(#334556, #2C4257), $color-paf-primary;
    background: -moz-linear-gradient(#334556, #2C4257), $color-paf-primary;
    background: -o-linear-gradient(#334556, #2C4257), $color-paf-primary;
    background: linear-gradient(#334556, #2C4257), $color-paf-primary;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

.navbar-brand,
.navbar-nav>li>a {
    font-weight: 500;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 32px;
}

.site_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px;
}

.site_title:hover,
.site_title:focus {
    text-decoration: none
}

.nav.navbar-nav>li>a {
    color: #515356 !important;
}

.nav.top_menu>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #34495E !important;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
}

.top_search {
    padding: 0;
}

.top_search .form-control {
    border-right: 0;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
    border-radius: 25px 0px 0px 25px;
    padding-left: 20px;
    border: 1px solid rgba(221, 226, 232, 0.49);
}

.top_search .form-control:focus {
    border: 1px solid rgba(221, 226, 232, 0.49);
    border-right: 0;
}

.top_search .input-group-btn button {
    border-radius: 0px 25px 25px 0px;
    border: 1px solid rgba(221, 226, 232, 0.49);
    border-left: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #93A2B2;
    margin-bottom: 0 !important;
}

.toggle {
    float: left;
    margin-left: 10px;
    padding-top: 5px;
    width: 90px;
    span,
    span::before,
    span::after {
        background-color: $color-paf-primary;
    }
}

.nav.child_menu > li > a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    padding: 9px;
}

.panel_toolbox {
    float: right;
    min-width: 70px;
}

.panel_toolbox>li {
    float: left;
    cursor: pointer;
}

.panel_toolbox>li>a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
}

.panel_toolbox>li>a:hover {
    background: #F5F7FA;
}

.line_30 {
    line-height: 30px;
}

.main_menu_side {
    padding: 0;
}

.bs-docs-sidebar .nav>li>a {
    display: block;
    padding: 4px 6px;
}

footer {
    background: #fff;
    padding: 15px 20px;
    display: block;
}

.nav-sm footer {
    margin-left: 70px;
}

.footer_fixed footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    position: fixed;
    background: darken($color-paf-primary, 10%);
}

@media (min-width: 768px) {
    .footer_fixed footer {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .footer_fixed .nav-sm footer {
        margin-left: 0;
    }
}

.tile-stats.sparkline {
    padding: 10px;
    text-align: center;
}

.jqstooltip {
    background: #34495E !important;
    width: 30px !important;
    height: 22px !important;
    text-decoration: none;
}

.tooltip {
    display: block !important;
}

.tiles {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 5px;
    margin-bottom: 0;
}

.tile {
    overflow: hidden;
}

.top_tiles {
    margin-bottom: 0;
}

.top_tiles .tile span {}

.top_tiles .tile h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 3px 0 7px;
    font-weight: bold;
}

article.media {
    width: 100%;
}

.title {
    border-bottom: 2px solid #ededed;
    width: 100%;
    margin-bottom: 20px;
}

.title-form {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    text-align: center;
    border-bottom: none;
    padding: 0;
    height: 36px;
    line-height: 36px;
    border-radius: 10px;
    span {
        font-size: 17px;
        font-weight: lighter;
        text-transform: uppercase;
    }
}

.sidebar-footer {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 230px;
    background: lighten($color-paf-primary, 5%);
}

.sidebar-footer a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: darken($color-paf-primary, 10%);
}

.sidebar-footer a:hover {
    background: lighten($color-paf-primary, 5%);
}
