/* -----------------------------------------------------------------------------

  Imports

----------------------------------------------------------------------------- */

@import "config";
@import "mixins";
@import "bootstrap-custom";
@import "errors";
@import "home";
@import "login";
@import "vagas";
@import "header";
@import "filter";
@import "colors";
@import "buttons";
@import "artigos";
@import "carousel";
@import "card";
@import "table";
@import "form";
@import "hamburger";
@import "descontos";
@import "utilities";
@import "node_modules/font-awesome/scss/font-awesome.scss";

/* -----------------------------------------------------------------------------

  Estilo geral

----------------------------------------------------------------------------- */

.main {
    padding-top: 118px;
    padding-bottom: 12px;
    @include media-breakpoint-down(sm) {
        padding-top: 78px;
    }
}


/* -----------------------------------------------------------------------------

  Título Principal

----------------------------------------------------------------------------- */

.main-title-outer {
    border-bottom: 1px solid #ededed;
    width: 100%;
    margin-bottom: 15px;
    @include media-breakpoint-down(sm) {
        border-bottom: none;
    }
}


/* -----------------------------------------------------------------------------

  Imagens

----------------------------------------------------------------------------- */

.load-img {
    top: 50%;
    left: 50%;
    position: fixed;
    margin-top: -50px;
    margin-left: -100px;
    @include media-breakpoint-down(sm) {
        top: 80px;
    }
}

/* -----------------------------------------------------------------------------

  Conner Ribbons

----------------------------------------------------------------------------- */


/* The ribbons */

.corner-ribbon {
    top: 25px;
    left: auto;
    right: -50px;
    width: 200px;
    z-index: 10;
    position: fixed;
    font-weight: 800;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1.5px;
    transform: rotate(45deg);
    color: $color-paf-primary;
    background: $color-paf-secondary;
    -webkit-transform: rotate(45deg);
    box-shadow: 0 1px 1px $color-shadow;
    @include media-breakpoint-down(sm) {
        top: 15px;
        right: -75px;
        line-height: 30px;
    }
}
